.friend_list li:not(:last-child){
margin-bottom: 20px;
}
.item {

height: 200px;
width: 1000px;

display: flex;
gap: 5;
align-items: center;
padding: 10px 15px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
background-color: #f8f8f8;
color: #333;
text-decoration: none;
cursor: pointer;

}

.status {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    margin-right: 50px;
    margin-left: 30px;
}
.name {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 600;
}